@{
    ViewBag.Title = "Index";
    Layout = "~/Views/main_layout_sociais.cshtml";
}

<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <table>
        <tr>
            <td style="width:40px;padding-top:15px;">
                <img src="~/img/Facebook.png" />
            </td>
            <td style="padding-top:15px;">
                Facebook
            </td>
        </tr>
    </table>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <table>
        <tr>
            <td style="width:40px;padding-top:15px;">
                <img src="~/img/Twitter.png" />
            </td>
            <td style="padding-top:15px;">
                Twitter
            </td>
        </tr>
    </table>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <table>
        <tr>
            <td style="width:40px;padding-top:15px;">
                <img src="~/img/Skype.png" />
            </td>
            <td style="padding-top:15px;">
                Skype
            </td>
        </tr>
    </table>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <table>
        <tr>
            <td style="width:40px;padding-top:15px;">
                <img src="~/img/Messenger.png" />
            </td>
            <td style="padding-top:15px;">
                Messenger
            </td>
        </tr>
    </table>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <table>
        <tr>
            <td style="width:40px;padding-top:15px;">
                <img src="~/img/Linkedin.png" />
            </td>
            <td style="padding-top:15px;">
                Linkedin
            </td>
        </tr>
    </table>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <table>
        <tr>
            <td style="width:40px;">
                <img src="~/img/Outros.png" />
            </td>
            <td>
                Outros
            </td>
        </tr>
    </table>
</div>