<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <!--font-awsome-css-->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!--bootstrap-->
    <link href="http://www.bitsolutions.net.br/jd/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--custom css-->
    <link href="/css/style_EMTU.css" rel="stylesheet" type="text/css" />
    <!--component-css-->
    <script src="http://www.bitsolutions.net.br/jd/js/jquery-2.1.4.min.js"></script>
    <script src="http://www.bitsolutions.net.br/jd/js/bootstrap.min.js"></script>
    <!--script-->
    <script src="http://www.bitsolutions.net.br/jd/js/bigSlide.js"></script>
    <script>
		$(document).ready(function() {  
		$('.menu-link').bigSlide();
	});
    </script>
    <!--script-->
    <script type="text/javascript" src="http://www.bitsolutions.net.br/jd/js/numscroller-1.0.js"></script>
    <!--script-->
    <!--
    <link href='//fonts.googleapis.com/css?family=Ubuntu:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    -->

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    

</head>
<body>
    <div class="body-back">
        <div class="masthead pdng-stn1">
            <div class="phone-box wrap push">
                <div class="menu-notify">
                    <div class="profile-left" style="padding-left:20px;text-align:left;">
                        <a href="#menu" class="menu-link"><i class="fa fa-navicon"></i></a>
                    </div>
                    <div class="Profile-mid" style="margin-top:-5px !important;">
                        <img src="~/img/emtu_white.gif" style="height:30px;" />
                    </div>
                    <div class="Profile-right">
                        <div id="dd1" class="wrapper-dropdown-1" tabindex="1" style="color:#fff;font-style:bold;">
                            <script type="text/javascript">
															function DropDown(el) {
																this.dd = el;
																this.initEvents();
															}
															DropDown.prototype = {
																initEvents : function() {
																	var obj = this;

																	obj.dd.on('click', function(event){
																		$(this).toggleClass('active');
																		event.stopPropagation();
																	});
																}
															}
															$(function() {

																var dd = new DropDown( $('#dd1') );

																$(document).click(function() {
																	// all dropdowns
																	$('.wrapper-dropdown-1').removeClass('active');
																});
															});
                            </script>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <h3 style="background-color:#fff;padding-top:15px;padding-left:7px;"></h3>
            <h4 style="background-color:#fff;padding-top:15px;"></h4>

                <!---header--->
                <div class="header">
                    <div class="banner">
                        @RenderBody()
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>

        <script src="http://www.bitsolutions.net.br/jd/js/jquery.nicescroll.js"></script>
        <script src="http://www.bitsolutions.net.br/jd/js/scripts.js"></script>
</body>
</html>
