@using BitSolutions.Models;
@model List<TwitterETT>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/emtu_layout.cshtml";
}

<script>
    function MostraLinha1() {
        document.getElementById("linha1").style.display = '';
    }

    function MostraLinha2() {
        document.getElementById("linha2").style.display = '';
    }
    function DisplayTwitter() {
        document.getElementById("divTwitter").style.display = '';
    }
    function UmEstrela() {
        document.getElementById("star1").style.display = '';
        document.getElementById("star1_n").style.display = 'none';
    }
    function DoisEstrela() {
        document.getElementById("star1").style.display = '';
        document.getElementById("star1_n").style.display = 'none';
        document.getElementById("star2").style.display = '';
        document.getElementById("star2_n").style.display = 'none';
    }
    function TresEstrela() {
        document.getElementById("star1").style.display = '';
        document.getElementById("star1_n").style.display = 'none';
        document.getElementById("star2").style.display = '';
        document.getElementById("star2_n").style.display = 'none';
        document.getElementById("star3").style.display = '';
        document.getElementById("star3_n").style.display = 'none';
    }
    function QuatroEstrela() {
        document.getElementById("star1").style.display = '';
        document.getElementById("star1_n").style.display = 'none';
        document.getElementById("star2").style.display = '';
        document.getElementById("star2_n").style.display = 'none';
        document.getElementById("star3").style.display = '';
        document.getElementById("star3_n").style.display = 'none';
        document.getElementById("star4").style.display = '';
        document.getElementById("star4_n").style.display = 'none';
    }
    function CincoEstrela() {
        document.getElementById("star1").style.display = '';
        document.getElementById("star1_n").style.display = 'none';
        document.getElementById("star2").style.display = '';
        document.getElementById("star2_n").style.display = 'none';
        document.getElementById("star3").style.display = '';
        document.getElementById("star3_n").style.display = 'none';
        document.getElementById("star4").style.display = '';
        document.getElementById("star4_n").style.display = 'none';
        document.getElementById("star5").style.display = '';
        document.getElementById("star5_n").style.display = 'none';
    }
</script>

<div id="exTab2" class="container">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#1" data-toggle="tab">Linhas</a>
        </li>
        <li>
            <a href="#2" data-toggle="tab">Pagar</a>
        </li>
        <li>
            <a href="#3" data-toggle="tab">Passe</a>
        </li>
        <li>
            <a href="#4" data-toggle="tab">Feed</a>
        </li>
    </ul>

    <div class="tab-content ">
        <div class="tab-pane active" id="1">

            <div style="margin-top:20px;">
                <div class="col-md-12">
                    <input type="text" class="form-control" placeholder="Digite a linha ou prefixo" />
                </div>
                <div class="col-md-12" style="padding-top:15px;">
                    <button>Buscar</button>
                </div>
            </div>

            <table class="table" style="margin-top:20px;">
                <thead style="background-color:#0b0372 !important;color:#fff;">
                    <tr>
                        <th>&nbsp;</th>
                        <th>Linha</th>
                    </tr>
                </thead>
                <tbody style="text-align:left;">
                    <tr>
                        <td style="border-left:1px solid #ddd;"><button onclick="MostraLinha1()">Detalhes</button></td>
                        <td style="border-right:1px solid #ddd;">153 - São Bernardo do Campo (Conjunto Terra Nova II) / São Paulo (Terminal Sacomã)</td>
                    </tr>
                    <tr id="linha1" style="display:none;">
                        <td style="border-left:1px solid #ddd;"></td>
                        <td style="border-right:1px solid #ddd;"><a href="~/img/bus1.jpg" target="_blank"><img src="~/img/bus1.jpg" style="width:40%;" /></a> 51 pessoas no ônibus</td>
                    </tr>
                    <tr style="border-bottom:1px solid #ddd;">
                        <td style="border-left:1px solid #ddd;"><button onclick="MostraLinha2()">Detalhes</button></td>
                        <td style="border-right:1px solid #ddd;">153 - São Paulo (Terminal Sacomã) / São Bernardo do Campo (Conjunto Terra Nova II)</td>
                    </tr>
                    <tr id="linha2" style="display:none;border-bottom:1px solid #ddd;">
                        <td style="border-left:1px solid #ddd;"></td>
                        <td style="border-right:1px solid #ddd;"><a href="~/img/bus2.jpg" target="_blank"><img src="~/img/bus2.jpg" style="width:40%;" /></a> 28 pessoas no ônibus</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="2">
            <div style="margin-top:100px;">
                <img src="~/img/qrcode.jpeg" style="height:200px;" />
            </div>
        </div>
        <div class="tab-pane" id="3">
            <table class="table" style="margin-top:20px;">
                <thead style="background-color:#0b0372 !important;color:#fff;">
                    <tr>
                        <th>Documento</th>
                        <th>Foto</th>
                    </tr>
                </thead>
                <tbody style="text-align:left;">
                    <tr>
                        <td style="border-left:1px solid #ddd;">RG</td>
                        <td style="border-right:1px solid #ddd;"><img src="~/img/RG.jpg" style="width:40%;" /></td>
                    </tr>
                    <tr>
                        <td style="border-left:1px solid #ddd;">Comprovante de Renda</td>
                        <td style="border-right:1px solid #ddd;"><img src="~/img/Comprovante_Renda.jpg" style="width:40%;" /></td>
                    </tr>
                    <tr style="border-bottom:1px solid #ddd;">
                        <td style="border-left:1px solid #ddd;">Comprovante de Residência</td>
                        <td style="border-right:1px solid #ddd;"><img src="~/img/Comprovante_Res.jpg" style="width:40%;" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane" id="4">
            <div style="margin-top:50px;">
                Qual nota você daria para a sua viagem?
            </div>
                <div style="padding-bottom:10px;">
                    <img src="~/img/star.gif" id="star1" style="width:30px;display:none;" />
                    <img src="~/img/star_n.gif" style="width:30px;" id="star1_n" onclick="UmEstrela()" />
                    <img src="~/img/star.gif" id="star2" style="width:30px;display:none;" />
                    <img src="~/img/star_n.gif" style="width:30px;" id="star2_n" onclick="DoisEstrela()" />
                    <img src="~/img/star.gif" id="star3" style="width:30px;display:none;" />
                    <img src="~/img/star_n.gif" style="width:30px;" id="star3_n" onclick="TresEstrela()" />
                    <img src="~/img/star.gif" id="star4" style="width:30px;display:none;" />
                    <img src="~/img/star_n.gif" style="width:30px;" id="star4_n" onclick="QuatroEstrela()" />
                    <img src="~/img/star.gif" id="star5" style="width:30px;display:none;" />
                    <img src="~/img/star_n.gif" style="width:30px;" id="star5_n" onclick="CincoEstrela()" />
                </div>
                <div>
                    <textarea class="form-control" placeholder="Deixe aqui o seu feedback (opcional)"></textarea>
                </div>
                <div style="padding-top:10px;">
                    <button onclick="alert('Obrigado pelo seu feedback!');">OK</button>
                </div>
            <div style="margin-top:30px;">
                <a href="#"><img src="~/img/btnTwitter.png" style="width:50%;border-radius:10px;" onclick="DisplayTwitter()" /></a>
            </div>
            <div id="divTwitter" style="display:none;">
                <table class="table" style="margin-top:20px;">
                    <thead style="background-color:#0b0372 !important;color:#fff;">
                        <tr>
                            <th>Usuário</th>
                            <th>Tweet</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:left;">
                        @foreach (TwitterETT ett in Model)
                        {
                            <tr>
                                <td style="border-left:1px solid #ddd;text-align:center;"><a href="#">@Html.Raw("@Friikjones")</a>
                                    <br />
                                    <img src="~/img/friikjones.jpg" style="width:30px;border-radius:50px;" />
                                </td>
                                <td style="border-right:1px solid #ddd;vertical-align:middle;">@ett.Msg <a href="#">#EMTU</a></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>