@{
    ViewBag.Title = "Bit Solutions";
    Layout = "~/Views/main_layout.cshtml";
}
<div id="site-wrapper" class="hfeed site">
    <div id="content" class="site-content wide" style="padding-bottom:0px;padding-top:0px;">
        <div class="container-fluid">
            <div id="primary" class="content-area">
                <main id="main" class="site-main" role="main">
                    <article class="clearfix post-187 page type-page status-publish hentry" id="post-187">
                        <div class="entry-content">
                            <div class="row row-edge  ">
                                <div class="col-md-12 collapse-col">

                                    <div class="motoslider_wrapper " id="motoslider_wrapper5765cb60dd7e7">
                                        <div data-motoslider style="height: 985px; max-height: 985px;"></div>
                                        <div class="motoslider">
                                            <div id="settings" data-full-window-width="false" data-timer="true" data-timer-delay="7000" data-hover-timer="false" data-counter="false" data-slider-layout="auto" data-grid-width="2050" data-grid-height="985" data-timer-reverse="false" data-arrows-show="true" data-thumbnails-show="true" data-slideshow-timer-show="true" data-slideshow-ppb-show="true" data-controls-hide-on-leave="false" data-swipe="true" data-delay-init="0" data-scroll-init="false" data-start-slide="1" data-visible-from="" data-visible-till="" data-custom-class="">
                                            </div>
                                            <div id="slides">
                                                <div class="slide" data-class="" data-id="" data-animation="msSlide" data-fade-animation="msSlide" data-duration="2000" data-easing="easeOutCirc">
                                                    <div class="slide_bg">
                                                        <div data-type="color" data-color="rgb(255, 255, 255)"></div><div data-type="image" data-fit="cover" data-position="center center" data-repeat="no-repeat" data-src="http://ld-wp.template-help.com/wordpress_55555/wp-content/uploads/2015/05/slider-1.jpg"></div>
                                                    </div>
                                                    <div class="layers">
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="0" data-offset-y="-95" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="1000" data-leave-delay="6500" data-class="in-box background-info mpsl-layer mpsl-preset-38">Bit Solutions</div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="0" data-offset-y="21" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="1200" data-leave-delay="6400" data-class="mpsl-layer mpsl-preset-39">Construindo um mundo inovador</div>
                                                    </div>
                                                </div>
                                                <div class="slide" data-class="" data-id="" data-animation="msSlide" data-fade-animation="msSlide" data-duration="2000" data-easing="easeOutCirc">
                                                    <div class="slide_bg">
                                                        <div data-type="color" data-color="rgb(255, 255, 255)"></div>
                                                        <div data-type="image" data-fit="cover" data-position="center center" data-repeat="no-repeat" data-src="http://ld-wp.template-help.com/wordpress_55555/wp-content/uploads/2015/05/slider-2.jpg"></div>
                                                    </div>
                                                    <div class="layers">
                                                        <div class="layer" data-width="647" data-link="" data-target="_self" data-link-class="" data-type="image" data-align-horizontal="center" data-align-vertical="top" data-offset-x="0" data-offset-y="105" data-animation="zoomIn" data-timing-function="ease" data-duration="500" data-leave-animation="zoomOut" data-leave-timing-function="ease" data-leave-duration="500" data-delay="900" data-leave-delay="6600" data-class="mpsl-layer">
                                                            <img src="/img/Coala.png" class="attachment-full size-full" alt="Bit Solutions Websites Responsivos" title="Bit Solutions Websites Responsivos" />
                                                        </div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="0" data-offset-y="182" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="1100" data-leave-delay="6500" data-class="mpsl-layer mpsl-preset-21">
                                                            Layouts de websites responsivos
                                                        </div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="0" data-offset-y="283.9999694824219" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="1500" data-leave-delay="6400" data-class="mpsl-layer mpsl-preset-24">
                                                            Testados em smartphones, tablets e desktops
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slide" data-class="" data-id="" data-animation="msSlide" data-fade-animation="msSlide" data-duration="2000" data-easing="easeOutCirc">
                                                    <div class="slide_bg">
                                                        <div data-type="color" data-color="rgb(255, 255, 255)"></div>
                                                        <div data-type="image" data-fit="cover" data-position="center" data-repeat="no-repeat" data-src="http://ld-wp.template-help.com/wordpress_55555/wp-content/uploads/2015/05/slider-4.jpg"></div>
                                                    </div>
                                                    <div class="layers">
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="-350" data-offset-y="-90" data-animation="fadeInRight" data-timing-function="easeInQuad" data-duration="500" data-leave-animation="fadeOutRight" data-leave-timing-function="easeOutQuad" data-leave-duration="500" data-delay="1400" data-leave-delay="6000" data-class="mpsl-layer mpsl-preset-24">
                                                            <img src="/img/amigao_thumb.png" class="attachment-full size-full" alt="Bit Solutions E-Commerces" title="Bit Solutions E-Commerces" />
                                                        </div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="-350" data-offset-y="90" data-animation="fadeInRight" data-timing-function="easeInQuad" data-duration="500" data-leave-animation="fadeOutRight" data-leave-timing-function="easeOutQuad" data-leave-duration="500" data-delay="1400" data-leave-delay="6100" data-class="mpsl-layer mpsl-preset-24">
                                                            <img src="/img/ativitta_thumb.png" class="attachment-full size-full" alt="Bit Solutions Websites de Divulgação" title="Bit Solutions Websites de Divulgação" />
                                                        </div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="250" data-offset-y="-179" data-animation="fadeInRight" data-timing-function="easeInQuad" data-duration="500" data-leave-animation="fadeOutRight" data-leave-timing-function="easeOutQuad" data-leave-duration="500" data-delay="1000" data-leave-delay="6100" data-class="mpsl-layer mpsl-preset-21">
                                                            Desenvolvimento
                                                        </div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="250" data-offset-y="1" data-animation="fadeInRight" data-timing-function="easeInQuad" data-duration="500" data-leave-animation="fadeOutRight" data-leave-timing-function="easeOutQuad" data-leave-duration="500" data-delay="1400" data-leave-delay="6300" data-class="mpsl-layer mpsl-preset-24">
                                                            Softwares para desktop e web
                                                        </div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="middle" data-offset-x="250" data-offset-y="50" data-animation="fadeInRight" data-timing-function="easeInQuad" data-duration="500" data-leave-animation="fadeOutRight" data-leave-timing-function="easeOutQuad" data-leave-duration="500" data-delay="1600" data-leave-delay="6400" data-class="mpsl-layer mpsl-preset-24">
                                                            E-commerces e websites
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="slide" data-class="" data-id="" data-animation="msSlide" data-fade-animation="msSlide" data-duration="2000" data-easing="easeOutCirc">
                                                    <div class="slide_bg">
                                                        <div data-type="color" data-color="rgb(255, 255, 255)"></div><div data-type="image" data-fit="cover" data-position="center center" data-repeat="no-repeat" data-src="http://ld-wp.template-help.com/wordpress_55555/wp-content/uploads/2015/05/slider-3.jpg"></div>
                                                    </div>
                                                    <div class="layers">
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="top" data-offset-x="0" data-offset-y="162" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="800" data-leave-delay="6500" data-class="mpsl-layer mpsl-preset-30">Dúvidas?</div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="top" data-offset-x="0" data-offset-y="247" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="1000" data-leave-delay="6400" data-class="mpsl-layer mpsl-preset-36">Estamos disponíveis</div>
                                                        <div class="layer" data-type="html" data-align-horizontal="center" data-align-vertical="top" data-offset-x="0" data-offset-y="397" data-animation="fadeInDown" data-timing-function="ease" data-duration="500" data-leave-animation="fadeOutDown" data-leave-timing-function="ease" data-leave-duration="500" data-delay="1200" data-leave-delay="6300" data-class="mpsl-layer mpsl-preset-29">para te ajudar</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row row-edge  ">
                                    <div class="col-md-12">
                                        <div class="row row-edge  ">
                                            <div class="col-md-12">
                                                <div class="cherry-spacer  " style="height:88px;"></div>
                                            </div>
                                        </div>
                                        <div class="row  ">
                                            <div class="container">
                                                <div class="row row-edge">
                                                    <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                        <div class="title-box   center  title_box-612 changed-color"><div class="title-box_content"><div class="icon-title-wrap"><div><h2 class="title-box_title">Sobre nós</h2></div></div></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row  ">
                                            <div class="container">
                                                <div class="row row-edge">
                                                    <div class="col-md-12">
                                                        <div class="motopress-text-obj">
                                                            <p style="text-align: center;">Somos uma empresa especializada no desenvolvimento de sistemas e websites. Fundada por profissionais experientes de diversas áreas, os serviços da Bit Solutions oferecem os melhores resultados para o seu negócio.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-edge  ">
                                    <div class="col-md-12">
                                        <div class="cherry-spacer  " style="height:98px;"></div>
                                    </div>
                                </div>
                                <div class="row  padding-top-60 padding-bottom-60">
                                    <div class="cherry-box   box-318">
                                        <div class="box-gray inner">
                                            <div class="container" style="margin-left:20px;">
                                                <div class="row row-edge">
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0  motopress-margin-top-20 motopress-margin-bottom-20">
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                                <div class="title-box   smaller  title_box-195"><div class="title-box_content"><h5 class="title-box_subtitle">Nós Somos</h5><div class="icon-title-wrap"><div><h2 class="title-box_title">Uma empresa que oferece soluções digitais para o seu negócio</h2></div></div></div></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="motopress-text-obj">
                                                                    <p>Teve uma ideia? Uma sugestão de melhoria para o seu negócio? Nós conseguimos te auxiliar com os nossos serviços para que elas se tornem realidade.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0  motopress-margin-top-20 motopress-margin-bottom-20">
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                                <div class="title-box   smaller  title_box-293"><div class="title-box_content"><h5 class="title-box_subtitle">Nós Possuímos</h5><div class="icon-title-wrap"><div><h2 class="title-box_title">Tecnologia de ponta aplicada às melhores práticas</h2></div></div></div></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="motopress-text-obj">
                                                                    <p>Profissionais dedicados e qualificados para entender e desenvolver as melhores soluções para as suas necessidades.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0  motopress-margin-top-20 motopress-margin-bottom-20">
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                                <div class="title-box   smaller  title_box-395"><div class="title-box_content"><h5 class="title-box_subtitle">Nós Oferecemos</h5><div class="icon-title-wrap"><div><h2 class="title-box_title">Produtos, serviços e suporte</h2></div></div></div></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="motopress-text-obj">
                                                                    <ul>
                                                                        <li>- Websites em HTML5 e CSS3</li>
                                                                        <li>- Técnicas de SEO</li>
                                                                        <li>- Sistemas de Pagamento Online</li>
                                                                        <li>- Banco de dados em SQL Server</li>
                                                                        <li>- Sistemas de Gerenciamento</li>
                                                                        <li>- Automação de Processos</li>
                                                                        <li>- Suporte Técnico Especializado</li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-edge  ">
                                    <div class="col-md-12">
                                        <div class="cherry-spacer  " style="height:80px;"></div>
                                    </div>
                                </div>
                                <div class="row row-edge columns-collapse-on-1700 ">
                                    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-3 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0  motopress-margin-top-20 motopress-margin-bottom-20" style="margin-left:15px;">
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="motopress-code-obj">
                                                    <div class="icon-align left  decor"><span style="width: 114px; height: 114px; line-height: 114px; border: 2px solid #4eb7fe; " class="box-icon-wrap round with-border "><div class="alignleft"><span class="fa fa-gears cherry-icon   icon-395"></span></div></span></div>
                                                    <div class="cherry-box   box-529">
                                                        <div class="box-simple inner">
                                                            <h5>Desenvolvimento de Softwares</h5>
                                                            <p>Sistemas de gerenciamento e automação de processos. </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="cherry-spacer  " style="height:30px;"></div>
                                            </div>
                                        </div>
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="motopress-code-obj">
                                                    <div class="icon-align left  decor"><span style="width: 114px; height: 114px; line-height: 114px; border: 2px solid #4eb7fe; " class="box-icon-wrap round with-border "><div class="alignleft"><span class="fa fa-question cherry-icon   icon-835" style="font-size: 60px;"></span></div></span></div>
                                                    <div class="cherry-box   box-739">
                                                        <div class="box-simple inner">
                                                            <h5>Atendimento e Suporte</h5>
                                                            <p>Manutenção e melhorias do seu negócio.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="cherry-spacer  " style="height:30px;"></div>
                                            </div>
                                        </div>
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="motopress-code-obj">
                                                    <div class="icon-align left  decor"><span style="width: 114px; height: 114px; line-height: 114px; border: 2px solid #4eb7fe; " class="box-icon-wrap round with-border "><div class="alignleft"><span class="fa fa-paint-brush cherry-icon   icon-835"></span></div></span></div>
                                                    <div class="cherry-box   box-317">
                                                        <div class="box-simple inner">
                                                            <h5>Layouts</h5>
                                                            <p>Design de layouts criativos e inovadores.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="cherry-spacer  " style="height:30px;"></div>
                                            </div>
                                        </div>
                                        <div class="row row-edge  ">
                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                <div class="motopress-code-obj">
                                                    <div class="icon-align left  decor"><span style="width: 114px; height: 114px; line-height: 114px; border: 2px solid #4eb7fe; " class="box-icon-wrap round with-border "><div class="alignleft"><span class="fa fa-shopping-cart cherry-icon   icon-653"></span></div></span></div>
                                                    <div class="cherry-box   box-233">
                                                        <div class="box-simple inner">
                                                            <h5>E-Commerces e Websites</h5>
                                                            <p>Criação e configuração da sua loja online e sites de divulgação, com técnicas de SEO.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row  padding-top-160 padding-bottom-160">
                                    <section class="parallax-box image-parallax-box " style="min-height: 300px">
                                        <div class="parallax-content">
                                            <div class="container">
                                                <div class="row row-edge">
                                                    <div class="col-xs-12 col-sm-4 col-md-4  motopress-margin-top-20 motopress-margin-bottom-25">
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="icon-align center  "><span style="" class="box-icon-wrap normal  "><div class="aligncenter"><span class="fa fa-coffee cherry-icon center  icon-730"></span></div></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                                <div class="cherry-spacer   hidden-xs hidden-sm" style="height:20px;"></div><div class="cherry-spacer   visible-sm-block" style="height:20px;"></div><div class="cherry-spacer   visible-xs-block" style="height:20px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="cherry-counter style-4 color-white" data-delay="10" data-time="1000"><span class="count">1000</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="motopress-text-obj">
                                                                    <p style="text-align: center;"><span style="color: #ffffff;">Xícaras de Café</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4  motopress-margin-top-20 motopress-margin-bottom-25">
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="icon-align center  "><span style="" class="box-icon-wrap normal  "><div class="aligncenter"><span class="fa fa-puzzle-piece cherry-icon center  icon-377"></span></div></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                                <div class="cherry-spacer   hidden-xs hidden-sm" style="height:20px;"></div><div class="cherry-spacer   visible-sm-block" style="height:20px;"></div><div class="cherry-spacer   visible-xs-block" style="height:20px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="cherry-counter style-4 color-white" data-delay="10" data-time="1000"><span class="count">12</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="motopress-text-obj">
                                                                    <p style="text-align: center;"><span style="color: #ffffff;">Projetos Realizados</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 col-sm-4 col-md-4  motopress-margin-top-20 motopress-margin-bottom-25">
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="icon-align center  "><span style="" class="box-icon-wrap normal  "><div class="aligncenter"><span class="fa fa-group cherry-icon center  icon-113"></span></div></span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                                                <div class="cherry-spacer   hidden-xs hidden-sm" style="height:20px;"></div><div class="cherry-spacer   visible-sm-block" style="height:20px;"></div><div class="cherry-spacer   visible-xs-block" style="height:20px;"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="cherry-counter style-4 color-white" data-delay="10" data-time="1000"><span class="count">21</span></div>
                                                            </div>
                                                        </div>
                                                        <div class="row row-edge  ">
                                                            <div class="col-md-12">
                                                                <div class="motopress-text-obj">
                                                                    <p style="text-align: center;"><span style="color: #ffffff;">Clientes Satisfeitos</span></p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="clear"></div>
                                        </div><div class="parallax-bg" data-parallax-type="image" data-img-url="http://ld-wp.template-help.com/wordpress_55555/wp-content/uploads/2015/05/business-parallax.jpg" data-speed="1.5" data-invert="" style="width: 1423px;"><div class="parallax-img parallax-bg-inner" style="width: 1423px; height: 526px; margin-top: -2px; margin-left: 0px; transform: translate3d(0px, -408px, 0px); background-image: url(&quot;http://ld-wp.template-help.com/wordpress_55555/wp-content/uploads/2015/05/business-parallax.jpg&quot;);"></div></div>
                                    </section>
                                </div>
                            </div>
                            <div class="row  padding-top-80 padding-bottom-80">
                                <div class="cherry-box   box-306">
                                    <div class="box-polygon-2 inner">
                                        <div class="container">
                                            <div class="row row-edge">
                                                <div class="col-md-12">
                                                    <div class="row row-edge  ">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row row-edge">
                                <div class="col-md-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 col-xs-pull-0 col-sm-pull-0 col-md-pull-0 col-lg-pull-0 col-xs-push-0 col-sm-push-0 col-md-push-0 col-lg-push-0">
                                    <div class="title-box   center  title_box-780"><div class="title-box_content"><div class="icon-title-wrap"><div><h2 class="title-box_title">Principais Clientes</h2></div></div></div></div>
                                </div>
                            </div>
                            <div class="row row-edge">
                                <div class="col-md-12">
                                    <div class="motopress-code-obj">
                                        <div id="cherry-posts-list-1" class="cherry-posts-list template-template-1 row  ">
                                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-3 col-lg-3 service-item item-0 odd">
                                                <div class="inner cherry-clearfix">
                                                    <div class="template-1 center">
                                                        <figure class="post-thumbnail"><a href="http://www.coalafilmes.com.br/Home.aspx" title="Coala Filmes"><img width="475" height="300" src="/img/coala_esolucoes.png"></a></figure>
                                                        <h5 class="post-title color-secondary"><a href="http://www.coalafilmes.com.br/Home.aspx" title="Coala Filmes">Coala Filmes</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cherry-xs-clear"></div>
                                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-3 col-lg-3 service-item item-0 odd">
                                                <div class="inner cherry-clearfix">
                                                    <div class="template-1 center">
                                                        <figure class="post-thumbnail"><a href="http://www.kerneleducacional.com.br/Index.aspx" title="Kernel Educacional"><img width="475" height="300" src="/img/kernel_esolucoes.png"></a></figure>
                                                        <h5 class="post-title color-secondary"><a href="http://www.kerneleducacional.com.br/Index.aspx" title="Kernel Educacional">Kernel Educacional</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cherry-xs-clear"></div>
                                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-3 col-lg-3 service-item item-0 odd">
                                                <div class="inner cherry-clearfix">
                                                    <div class="template-1 center">
                                                        <figure class="post-thumbnail"><a href="http://www.amigaopecas.com.br/Home.aspx" title="Amigão Peças"><img width="475" height="300" src="/img/amigao_esolucoes.png"></a></figure>
                                                        <h5 class="post-title color-secondary"><a href="http://www.amigaopecas.com.br/Home.aspx" title="Amigão Peças">Amigão Peças</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cherry-xs-clear"></div>
                                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-3 col-lg-3 service-item item-0 odd">
                                                <div class="inner cherry-clearfix">
                                                    <div class="template-1 center">
                                                        <figure class="post-thumbnail"><a href="http://www.seicad.com.br/" title="SEICAD"><img width="475" height="300" src="/img/seicad_esolucoes.png"></a></figure>
                                                        <h5 class="post-title color-secondary"><a href="http://www.seicad.com.br/" title="SEICAD">SEICAD</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cherry-xs-clear cherry-sm-clear cherry-md-clear cherry-lg-clear"></div><!--/.cherry-posts-item-->
                                        </div><!--/.cherry-posts-list-->
                                    </div>
                                </div>
                            </div>
                            <div class="row row-edge  ">
                                <div class="col-md-12">
                                    <div class="motopress-code-obj">
                                        <div id="cherry-posts-list-1" class="cherry-posts-list template-template-1 row  ">
                                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-3 col-lg-3 service-item item-0 odd">
                                                <div class="inner cherry-clearfix">
                                                    <div class="template-1 center">
                                                        <figure class="post-thumbnail"><a href="http://www.sharkbuy.net/Index.aspx" title="SharkBuy"><img width="475" height="300" src="/img/sharkbuy_esolucoes.png"></a></figure>
                                                        <h5 class="post-title color-secondary"><a href="http://www.sharkbuy.net/Index.aspx" title="SharkBuy">SharkBuy</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cherry-xs-clear"></div>
                                            <div class="cherry-posts-item col-xs-12 col-sm-6 col-md-3 col-lg-3 service-item item-0 odd">
                                                <div class="inner cherry-clearfix">
                                                    <div class="template-1 center">
                                                        <figure class="post-thumbnail"><a href="http://www.espacoativitta.com.br/Home.aspx" title="Espaço Ativittá"><img width="475" height="300" src="/img/ativitta_esolucoes.jpg"></a></figure>
                                                        <h5 class="post-title color-secondary"><a href="http://www.espacoativitta.com.br/Home.aspx" title="Espaço Ativittá">Espaço Ativittá</a></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cherry-xs-clear cherry-sm-clear cherry-md-clear cherry-lg-clear"></div><!--/.cherry-posts-item-->
                                        </div><!--/.cherry-posts-list-->
                                    </div>
                                </div>
                            </div>
                            <div class="row row-edge padding-top-80 padding-bottom-80">
                                <div class="col-md-12">
                                    <div class="aligncenter  -wrapper">
                                        <a class="cherry-btn cherry-btn-warning cherry-btn-large cherry-btn-inline cherry-btn-fade  " target="_self" href="/Contato" data-text="View">Entre em Contato Conosco</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </main>

            </div>
        </div>
    </div>
</div>
