@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <iframe class="render-viewer" width="1000" height="1000" src="https://render.githubusercontent.com/view/solid?commit=d4f2a26cdebda9ec9c933c0f487f643f3aa5990d&amp;enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6d617263656c6f67616e646f2f5345494341442f643466326132366364656264613965633963393333633066343837663634336633616135393930642f5345492d3030325f54455354452e73746c&amp;nwo=marcelogando%2FSEICAD&amp;path=SEI-002_TESTE.stl&amp;repository_id=73130056#17d019d9-6a28-455b-9df5-6ace3c73f809" sandbox="allow-scripts allow-same-origin allow-top-navigation">Viewer requires iframe.</iframe>
</body>
</html>
