@{
    ViewBag.Title = "Index";
    Layout = "~/Views/main.cshtml";
}

<div class="container" style="background-color:#fff;">
    <div id="piechart" style="width: 100%;padding-top:50px;"></div>
    <!---header--->
    <div class="header">
        <div class="banner">
            <div style="padding-top:15px;text-align:center;">
                <img src="~/img/logo_colorido.gif" style="width:80%;" />
            </div>
            <div style="padding-top:80px;width:80%;">
                Usuário
            </div>
            <div style="width:80%;">
                <input class="form-control" type="text" />
            </div>
            <div style="padding-top:7px;width:80%;">
                Senha
            </div>
            <div style="width:80%;">
                <input class="form-control" type="password" />
            </div>
            <div style="padding-top:15px;width:80%;">
                <button class="btn" style="background-color:#0a4772 !important;color:#fff;border-radius:6px;width:100%;font-weight:bold;" onclick="window.location.href='@Url.Action("Index", "EscolherBanco")';">Login</button>
            </div>
            <div style="padding-top:15px;width:80%;">
                <a href="#">Esqueci a minha senha</a>
            </div>
            <div style="width:80%;">
                <a href="#">Criar nova conta</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>