@{
    ViewBag.Title = "Index";
    Layout = "~/Views/main_layout_opcoes.cshtml";
}

<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Convide um amigo</a>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Redes Sociais</a>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Linguagem</a>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Alterar Dados</a>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Alterar Senha</a>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Notificações</a>
</div>
<div style="border-bottom: 1px solid #eaeaea;height:50px;">
    <a href="#">Desligar todas as minhas contas</a>
</div>
<div style="color:red;border-bottom: 1px solid #eaeaea;height:40px;">
    <a href="#" style="color:red !important">Sair</a>
</div>